* {
	font-family: serif;
}

div {
	margin: 0 auto;
	display: block;
}
	div#main {
		display: block;
		margin: 50px auto;
	}

	div#introText {
		line-height: 2em;
	}

	div#button {
		height: 40px;
	}

	div#blockui {
		margin: 50px auto;
		display: none;
	}

button {
	margin-top: 20px;
	-webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background: #990000;
  padding: 6px 10px;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
	background: #c20000;
  text-decoration: none;
}

h1 {
	font-size: 24;
}

p {
	font-size: 16;
}

	div#poem p {
		display: block;
		float: left;
		margin: 0;
		line-height: 2em;
	}

	div#attrib p {
		margin: 10px 0;
		text-align: right;
		font-style: italic;
	}

	div#blockui p {
		font-size: 20;
		margin-top;
		text-align: center;
	}
